html {
  height: 98%;
}

body {
  height: 100%;
  background-color: #484e5a;
}
h1 {
  color: white;
  font-family: "Arial Black";
  font-size: 300%;
}

div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

span {
  border-bottom: 7px solid #815291;
}
